.card{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color:black;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
}

.card .colorBtn{
    border-radius: 5px;
    padding: 10px;    
    text-align: center;
}